Refactoring of a function 

In  "dashboard\public\js\l10n.js" there is a function 'nextEntry()' which uses array.shift() method to get the  i'th line 
 
        function nextEntry() {
          // Use infinite loop instead of recursion to avoid reaching the
          // maximum recursion limit for content with many lines.
          while (true) {
            if (!entries.length) {
              parsedRawLinesCallback();
              return;
            }
            var line = entries.shift();     //  <---- nearly takes O(n) time to shift element 

            // comment or blank line?
            if (reComment.test(line))
              continue;

            // the extended syntax supports [lang] sections and @import rules
            if (extendedSyntax) {
              match = reSection.exec(line);
              if (match) { // section start?
                // RFC 4646, section 4.4, "All comparisons MUST be performed
                // in a case-insensitive manner."

                currentLang = match[1].toLowerCase();
                skipLang = (currentLang !== '*') &&
                    (currentLang !== lang) && (currentLang !== genericLang);
                continue;
              } else if (skipLang) {
                continue;
              }
              match = reImport.exec(line);
              if (match) { // @import rule?
                loadImport(baseURL + match[1], nextEntry);
                return;
              }
            }

            // key-value pair
            var tmp = line.match(reSplit);
            if (tmp && tmp.length == 3) {
              dictionary[tmp[1]] = evalString(tmp[2]);
            }
          }
        }


which can  also be done in O(1) using  some  variable  which stores the i'th index position like this 

 
    function nextEntry() {
    // Use infinite loop instead of recursion to avoid reaching the
    // maximum recursion limit for content with many lines.
    var  currentLineIndex =0;  
    while (currentLineIndex <entries.length ) {
    
      var line = entries[currentLineIndex++];   // <------- get the i'th line 
      // comment or blank line?
      if (reComment.test(line))
        continue;

      // the extended syntax supports [lang] sections and @import rules
      if (extendedSyntax) {
        match = reSection.exec(line);
        if (match) { // section start?
          // RFC 4646, section 4.4, "All comparisons MUST be performed
          // in a case-insensitive manner."

          currentLang = match[1].toLowerCase();
          skipLang = (currentLang !== '*') &&
              (currentLang !== lang) && (currentLang !== genericLang);
          continue;
        } else if (skipLang) {
          continue;
        }
        match = reImport.exec(line);
        if (match) { // @import rule?
          loadImport(baseURL + match[1], nextEntry);
          return;
        }
      }

      // key-value pair
      var tmp = line.match(reSplit);
      if (tmp && tmp.length == 3) {
        dictionary[tmp[1]] = evalString(tmp[2]);
      }
    }

    parsedRawLinesCallback();
    
  }
`

I would like to make a pull request regarding this changes 

I would not recommend changing the code of the library if it's not essential. Changing the library code without running the tests associated with that library could lead to unforeseen consequences.